# Auto detect text files and perform LF normalization
* text=auto
*.meta[[:space:]].fbx[[:space:]].prefab filter=lfs diff=lfs merge=lfs -text
*.cs[[:space:]].asset filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
Assets/Animation/Boy_idle_1023.fbx filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*,fbx filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.png[[:space:]].mat filter=lfs diff=lfs merge=lfs -text
